In [2]:
import pandas as pd
from mordred import Calculator, descriptors
from rdkit import Chem,DataStructs
from rdkit.Chem import AllChem,PandasTools
import rdkit
import seaborn as sn
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import uniform, randint
from sklearn.datasets import load_breast_cancer, load_diabetes, load_wine
from sklearn.metrics import auc, accuracy_score, balanced_accuracy_score, confusion_matrix, mean_squared_error
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, StratifiedKFold, RandomizedSearchCV, train_test_split
import xgboost as xgb
import catboost as cat
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn import set_config
from rdkit.Chem import rdFingerprintGenerator
import graphviz

In [3]:
from rdkit import Chem,DataStructs
from rdkit.Chem import AllChem,PandasTools
import rdkit
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import DataLoader,random_split
from rdkit import Chem
import torch.nn.functional as F
from torch.utils.tensorboard import SummaryWriter

In [3]:
df1=pd.read_csv(r'C:\Users\19189\Desktop\val_set.csv')
df1

,0,1,2,3,4,5,6,7,8,9,...,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2,LogLD50
0,0,0,0,0,0,0,0,0,0,0,...,63.430691,261.045964,9.001585,698.0,21.0,88.0,98.0,6.055556,4.027778,3.653213
1,0,0,0,0,0,0,0,0,0,0,...,40.037455,142.135765,5.076277,109.0,11.0,50.0,54.0,5.034722,2.083333,3.451018
2,0,0,0,0,0,0,0,0,0,0,...,65.101968,436.039893,9.689775,2232.0,51.0,158.0,187.0,12.375000,6.000000,3.544068
3,0,0,0,0,0,0,0,0,0,0,...,62.773733,384.241293,6.404022,2385.0,41.0,138.0,158.0,8.277778,6.500000,2.638489
4,0,0,0,0,0,0,0,0,0,0,...,35.755147,127.018877,9.072777,61.0,7.0,36.0,38.0,3.222222,1.833333,2.515874
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,0,0,0,0,0,0,0,0,0,0,...,54.644816,291.183444,6.330075,1030.0,29.0,106.0,119.0,8.118056,4.541667,2.845098
955,0,0,0,0,0,0,0,0,0,0,...,85.269083,450.290375,6.432720,4262.0,49.0,178.0,208.0,8.000000,7.611111,3.602060
956,0,0,0,0,0,0,0,0,0,0,...,38.758822,160.084792,6.960208,182.0,10.0,42.0,42.0,5.472222,2.833333,3.000000
957,0,0,0,0,0,0,0,0,0,0,...,77.294296,302.188195,6.295587,1242.0,28.0,112.0,131.0,8.979167,4.888889,3.606381
958,0,0,0,0,0,0,0,0,0,0,...,46.051517,290.007305,9.355074,390.0,19.0,68.0,75.0,6.194444,3.611111,2.397940

In [8]:
VS=df1.iloc[:,167:1993]
VS

,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,0.0,0.0,0.0,0.0,22.672630,2.301615,4.576151,22.672630,1.259591,3.800694,...,9.441373,63.430691,261.045964,9.001585,698.0,21.0,88.0,98.0,6.055556,4.027778
1,0.0,0.0,0.0,0.0,10.698196,2.326846,4.653693,10.698196,1.069820,3.214580,...,9.169623,40.037455,142.135765,5.076277,109.0,11.0,50.0,54.0,5.034722,2.083333
2,0.0,0.0,2.0,0.0,34.927172,2.492980,4.985959,34.927172,1.204385,4.296961,...,10.505697,65.101968,436.039893,9.689775,2232.0,51.0,158.0,187.0,12.375000,6.000000
3,0.0,0.0,0.0,2.0,36.637293,2.336354,4.672708,36.637293,1.308475,4.240391,...,10.012835,62.773733,384.241293,6.404022,2385.0,41.0,138.0,158.0,8.277778,6.500000
4,0.0,0.0,0.0,0.0,9.431148,2.175328,4.350655,9.431148,1.178893,2.979741,...,8.479907,35.755147,127.018877,9.072777,61.0,7.0,36.0,38.0,3.222222,1.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,0.0,0.0,0.0,1.0,25.732217,2.407006,4.814012,25.732217,1.225344,3.954130,...,9.856658,54.644816,291.183444,6.330075,1030.0,29.0,106.0,119.0,8.118056,4.541667
955,0.0,0.0,0.0,1.0,45.988476,2.366275,4.726033,45.988476,1.352602,4.463015,...,10.308853,85.269083,450.290375,6.432720,4262.0,49.0,178.0,208.0,8.000000,7.611111
956,0.0,0.0,0.0,0.0,12.703861,2.090964,4.181928,12.703861,1.154896,3.219617,...,8.237744,38.758822,160.084792,6.960208,182.0,10.0,42.0,42.0,5.472222,2.833333
957,0.0,0.0,0.0,0.0,26.664018,2.611164,4.853987,26.664018,1.212001,4.032528,...,10.100985,77.294296,302.188195,6.295587,1242.0,28.0,112.0,131.0,8.979167,4.888889
958,0.0,0.0,0.0,0.0,18.602331,2.287541,4.575082,18.602331,1.240155,3.586175,...,9.199381,46.051517,290.007305,9.355074,390.0,19.0,68.0,75.0,6.194444,3.611111

In [4]:
df2=pd.read_csv(r'C:\Users\19189\Desktop\train_set.csv')
df2.shape

(11028, 1994)

In [10]:
TS=df2.iloc[:,167:1993]
TS.head(2)

,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,0.0,0.0,0.0,1.0,43.482939,2.496629,4.993239,43.482939,1.358842,4.408184,...,10.381056,81.187037,425.235479,6.749770,3147.0,50.0,170.0,201.0,7.500000,7.138889
1,0.0,0.0,0.0,1.0,12.627503,2.236068,4.472136,12.627503,1.147955,3.293888,...,8.923058,40.723493,149.120449,5.735402,160.0,10.0,52.0,54.0,4.673611,2.375000

In [11]:
DS=pd.concat([VS,TS])

In [12]:
DS=DS.loc[:, (DS != 0).any(axis=0)]
DS.head(2)

,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,VE1_A,VE2_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,0.0,0.0,22.672630,2.301615,4.576151,22.672630,1.259591,3.800694,3.928684,0.218260,...,9.441373,63.430691,261.045964,9.001585,698.0,21.0,88.0,98.0,6.055556,4.027778
1,0.0,0.0,10.698196,2.326846,4.653693,10.698196,1.069820,3.214580,2.978311,0.297831,...,9.169623,40.037455,142.135765,5.076277,109.0,11.0,50.0,54.0,5.034722,2.083333

In [13]:
DS.shape

(11987, 1454)

In [15]:
a=DS.iloc[959:11987,0:1454].values
aT=a.T
b=aT.dot(a)
b_inv = np.linalg.pinv(b)

In [16]:
VDS=DS.iloc[0:959,:]

In [20]:
def application_domain(i):
    RM = VDS.iloc[i,0:1454].values.reshape(1, -1)
    RM_T=RM.T
    d=RM.dot(b_inv)
    f=d.dot(RM_T)
    return f.item()

In [17]:
x=[i for i in range(959)]

In [18]:
VDS['index']=x

C:\Users\19189\AppData\Local\Temp\ipykernel_14920\1715738199.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  VDS['index']=x

In [19]:
VDS

,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,VE1_A,VE2_A,...,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2,index
0,0.0,0.0,22.672630,2.301615,4.576151,22.672630,1.259591,3.800694,3.928684,0.218260,...,63.430691,261.045964,9.001585,698.0,21.0,88.0,98.0,6.055556,4.027778,0
1,0.0,0.0,10.698196,2.326846,4.653693,10.698196,1.069820,3.214580,2.978311,0.297831,...,40.037455,142.135765,5.076277,109.0,11.0,50.0,54.0,5.034722,2.083333,1
2,2.0,0.0,34.927172,2.492980,4.985959,34.927172,1.204385,4.296961,4.342396,0.149738,...,65.101968,436.039893,9.689775,2232.0,51.0,158.0,187.0,12.375000,6.000000,2
3,0.0,2.0,36.637293,2.336354,4.672708,36.637293,1.308475,4.240391,4.837448,0.172766,...,62.773733,384.241293,6.404022,2385.0,41.0,138.0,158.0,8.277778,6.500000,3
4,0.0,0.0,9.431148,2.175328,4.350655,9.431148,1.178893,2.979741,2.736735,0.342092,...,35.755147,127.018877,9.072777,61.0,7.0,36.0,38.0,3.222222,1.833333,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,0.0,1.0,25.732217,2.407006,4.814012,25.732217,1.225344,3.954130,3.609549,0.171883,...,54.644816,291.183444,6.330075,1030.0,29.0,106.0,119.0,8.118056,4.541667,954
955,0.0,1.0,45.988476,2.366275,4.726033,45.988476,1.352602,4.463015,5.253939,0.154528,...,85.269083,450.290375,6.432720,4262.0,49.0,178.0,208.0,8.000000,7.611111,955
956,0.0,0.0,12.703861,2.090964,4.181928,12.703861,1.154896,3.219617,3.015169,0.274106,...,38.758822,160.084792,6.960208,182.0,10.0,42.0,42.0,5.472222,2.833333,956
957,0.0,0.0,26.664018,2.611164,4.853987,26.664018,1.212001,4.032528,3.038508,0.138114,...,77.294296,302.188195,6.295587,1242.0,28.0,112.0,131.0,8.979167,4.888889,957
958,0.0,0.0,18.602331,2.287541,4.575082,18.602331,1.240155,3.586175,3.466251,0.231083,...,46.051517,290.007305,9.355074,390.0,19.0,68.0,75.0,6.194444,3.611111,958

In [21]:
VDS['H_value']=VDS['index'].apply(application_domain)

C:\Users\19189\AppData\Local\Temp\ipykernel_14920\2672410292.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  VDS['H_value']=VDS['index'].apply(application_domain)

In [22]:
VDS

,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,VE1_A,VE2_A,...,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2,index,H_value
0,0.0,0.0,22.672630,2.301615,4.576151,22.672630,1.259591,3.800694,3.928684,0.218260,...,261.045964,9.001585,698.0,21.0,88.0,98.0,6.055556,4.027778,0,-9.881194e-17
1,0.0,0.0,10.698196,2.326846,4.653693,10.698196,1.069820,3.214580,2.978311,0.297831,...,142.135765,5.076277,109.0,11.0,50.0,54.0,5.034722,2.083333,1,-6.202349e-17
2,2.0,0.0,34.927172,2.492980,4.985959,34.927172,1.204385,4.296961,4.342396,0.149738,...,436.039893,9.689775,2232.0,51.0,158.0,187.0,12.375000,6.000000,2,-5.226218e-16
3,0.0,2.0,36.637293,2.336354,4.672708,36.637293,1.308475,4.240391,4.837448,0.172766,...,384.241293,6.404022,2385.0,41.0,138.0,158.0,8.277778,6.500000,3,-9.746207e-16
4,0.0,0.0,9.431148,2.175328,4.350655,9.431148,1.178893,2.979741,2.736735,0.342092,...,127.018877,9.072777,61.0,7.0,36.0,38.0,3.222222,1.833333,4,-5.417417e-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,0.0,1.0,25.732217,2.407006,4.814012,25.732217,1.225344,3.954130,3.609549,0.171883,...,291.183444,6.330075,1030.0,29.0,106.0,119.0,8.118056,4.541667,954,-3.647976e-16
955,0.0,1.0,45.988476,2.366275,4.726033,45.988476,1.352602,4.463015,5.253939,0.154528,...,450.290375,6.432720,4262.0,49.0,178.0,208.0,8.000000,7.611111,955,-1.170615e-15
956,0.0,0.0,12.703861,2.090964,4.181928,12.703861,1.154896,3.219617,3.015169,0.274106,...,160.084792,6.960208,182.0,10.0,42.0,42.0,5.472222,2.833333,956,-3.317393e-17
957,0.0,0.0,26.664018,2.611164,4.853987,26.664018,1.212001,4.032528,3.038508,0.138114,...,302.188195,6.295587,1242.0,28.0,112.0,131.0,8.979167,4.888889,957,-3.229684e-16
958,0.0,0.0,18.602331,2.287541,4.575082,18.602331,1.240155,3.586175,3.466251,0.231083,...,290.007305,9.355074,390.0,19.0,68.0,75.0,6.194444,3.611111,958,-1.566328e-16

In [23]:
threshold=3*1454/11028

In [24]:
df_within_AD=VDS[VDS['H_value'] < threshold]
df_out_AD=VDS[VDS['H_value'] > threshold]

In [25]:
df_within_AD.shape

(959, 1456)

In [26]:
df_out_AD.shape

(0, 1456)

In [5]:
cat_maccs= cat.CatBoostRegressor()
cat_maccs.load_model(r"C:\Users\19189\Desktop\C_MACCS.model")

In [6]:
cat_md= cat.CatBoostRegressor()
cat_md.load_model(r"C:\Users\19189\Desktop\C_MD.model")

In [7]:
xgb_maccs = xgb.Booster()
xgb_maccs.load_model(r"C:\Users\19189\Desktop\X_MACCS.json")

In [8]:
xgb_md = xgb.Booster()
xgb_md.load_model(r"C:\Users\19189\Desktop\X_MD.json")

In [9]:
model_names = ['X_MACCS', 'C_MACCS','X_MD', 'C_MD']

In [10]:
models = [xgb_maccs,
          cat_maccs,
          xgb_md,
          cat_md]

In [16]:
for idx, model in enumerate(models):
    if idx<=1:
        xtest=df1.iloc[:,0:167]
    else:
        xtest=df1.iloc[:,167:1993]
    if idx%2==0:
        dtest=xgb.DMatrix(xtest)
        y_pred = model.predict(dtest) 
    else:
        y_pred = model.predict(xtest)    
    df1[str(model_names[idx])]=y_pred

In [11]:
for idx, model in enumerate(models):
    if idx<=1:
        xtest=df2.iloc[:,0:167]
    else:
        xtest=df2.iloc[:,167:1993]
    if idx%2==0:
        dtest=xgb.DMatrix(xtest)
        y_pred = model.predict(dtest) 
    else:
        y_pred = model.predict(xtest)    
    df2[str(model_names[idx])]=y_pred

In [17]:
df1

,0,1,2,3,4,5,6,7,8,9,...,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2,LogLD50,X_MACCS,C_MACCS,X_MD,C_MD
0,0,0,0,0,0,0,0,0,0,0,...,21.0,88.0,98.0,6.055556,4.027778,3.653213,2.972779,3.090262,3.221881,2.981616
1,0,0,0,0,0,0,0,0,0,0,...,11.0,50.0,54.0,5.034722,2.083333,3.451018,3.593754,3.493686,3.487156,3.465531
2,0,0,0,0,0,0,0,0,0,0,...,51.0,158.0,187.0,12.375000,6.000000,3.544068,3.854150,3.886233,3.969149,3.933983
3,0,0,0,0,0,0,0,0,0,0,...,41.0,138.0,158.0,8.277778,6.500000,2.638489,3.032705,2.823283,2.819377,2.902131
4,0,0,0,0,0,0,0,0,0,0,...,7.0,36.0,38.0,3.222222,1.833333,2.515874,2.736012,2.798001,2.755069,2.700410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,0,0,0,0,0,0,0,0,0,0,...,29.0,106.0,119.0,8.118056,4.541667,2.845098,3.255276,3.205964,2.973368,2.969002
955,0,0,0,0,0,0,0,0,0,0,...,49.0,178.0,208.0,8.000000,7.611111,3.602060,2.626830,2.755578,2.957604,2.790720
956,0,0,0,0,0,0,0,0,0,0,...,10.0,42.0,42.0,5.472222,2.833333,3.000000,3.155892,3.290425,2.796731,2.886869
957,0,0,0,0,0,0,0,0,0,0,...,28.0,112.0,131.0,8.979167,4.888889,3.606381,3.596001,3.495020,3.165833,3.282895
958,0,0,0,0,0,0,0,0,0,0,...,19.0,68.0,75.0,6.194444,3.611111,2.397940,2.657358,2.654575,2.710169,2.626532

In [12]:
df2

,0,1,2,3,4,5,6,7,8,9,...,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2,LogLD50,X_MACCS,C_MACCS,X_MD,C_MD
0,0,0,0,0,0,0,0,0,0,0,...,50.0,170.0,201.0,7.500000,7.138889,2.480007,2.505892,2.559206,2.630831,2.638576
1,0,0,0,0,0,0,0,0,0,0,...,10.0,52.0,54.0,4.673611,2.375000,2.419956,2.360931,2.426415,2.341902,2.275489
2,0,0,0,0,0,0,0,0,0,0,...,42.0,126.0,147.0,9.888889,6.111111,3.544068,3.558235,3.577300,3.445715,3.511099
3,0,0,0,0,0,0,0,0,0,0,...,16.0,68.0,72.0,6.194444,3.416667,3.482588,3.551575,3.532927,3.366199,3.403217
4,0,0,0,0,0,0,0,0,0,0,...,30.0,84.0,99.0,8.166667,4.416667,3.804480,3.802465,3.747669,3.743523,3.796883
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11023,0,0,0,0,0,0,0,0,0,0,...,28.0,100.0,114.0,6.805556,5.055556,3.146128,3.312859,3.318453,2.939271,2.968701
11024,0,0,0,0,0,0,0,0,0,0,...,13.0,54.0,58.0,4.833333,2.833333,3.875061,3.629739,3.571349,3.684559,3.531822
11025,0,0,0,0,0,0,0,0,0,0,...,23.0,72.0,89.0,5.506944,2.750000,2.849419,2.579202,2.519334,2.780704,2.670275
11026,0,0,0,0,0,0,0,0,0,0,...,25.0,82.0,93.0,8.006944,3.930556,1.812913,2.123813,2.106975,1.684854,1.957155
11027,0,0,0,0,0,0,0,0,0,0,...,25.0,88.0,97.0,7.895833,4.486111,1.897627,2.017336,2.231405,1.957988,1.951143

In [18]:
vali=df1[['C_MACCS','X_MACCS','C_MD','X_MD','LogLD50']]
vali.head(2)

    C_MACCS   X_MACCS      C_MD      X_MD   LogLD50
0  3.090262  2.972779  2.981616  3.221881  3.653213
1  3.493686  3.593754  3.465531  3.487156  3.451018

In [13]:
train=df2[['C_MACCS','X_MACCS','C_MD','X_MD','LogLD50']]
train.head(2)

    C_MACCS   X_MACCS      C_MD      X_MD   LogLD50
0  2.559206  2.505892  2.638576  2.630831  2.480007
1  2.426415  2.360931  2.275489  2.341902  2.419956

In [14]:
pd.options.mode.copy_on_write = True

In [ ]:
vali["values"] =vali[['C_MACCS', 'X_MACCS', 'C_MD', 'X_MD']].values.tolist()

In [15]:
train["values"] =train[['C_MACCS', 'X_MACCS', 'C_MD', 'X_MD']].values.tolist()

In [16]:
train.head(2)

,C_MACCS,X_MACCS,C_MD,X_MD,LogLD50,values
0,2.559206,2.505892,2.638576,2.630831,2.480007,"[2.5592062953869736, 2.505891799926758, 2.6385..."
1,2.426415,2.360931,2.275489,2.341902,2.419956,"[2.426414749339358, 2.3609306812286377, 2.2754..."

In [ ]:
vali.head(2)

In [17]:
class VDataset(torch.utils.data.Dataset):
    def __init__(self, values_list, labels):
        self.values_list = values_list
        self.labels = labels

    def __len__(self):
        return len(self.values_list)

    def __getitem__(self, idx):
        value = self.values_list[idx]
        label = self.labels[idx]
        return torch.Tensor(value), torch.Tensor([label])

In [18]:
class Net(nn.Module):
    def __init__(self, input_size, hidden_size, output_size):
        super(Net, self).__init__()
        self.fc1 = nn.Linear(input_size, hidden_size)
        self.fc2 = nn.Linear(hidden_size, hidden_size)
        self.fc3 = nn.Linear(hidden_size, output_size)
        self.activation1 = nn.ReLU()
        self.activation2 = nn.Sigmoid()
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        out = self.fc1(x)
        out = self.activation1(out)
        out = self.fc2(out)
        out = self.activation1(out)
        out = self.fc3(out)
        return out

In [19]:
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

In [20]:
input_size = 4 
hidden_size = 15
output_size = 1
loaded_model = Net(input_size, hidden_size, output_size).to(device)
loaded_model.load_state_dict(torch.load(r"C:\Users\19189\Desktop\FCNN_model.pt"))
loaded_model.eval()
print("Model loaded!")

Model loaded!

In [27]:
value_vali = vali["values"]
labels = vali["LogLD50"]

In [21]:
value_train = train["values"]
labels = train["LogLD50"]

In [22]:
dataset_train = VDataset(value_train, labels)
data_loader_T= DataLoader(dataset_train, batch_size=1, shuffle=False)

In [ ]:
dataset_vali = VDataset(value_vali, labels)
data_loader_V= DataLoader(dataset_vali, batch_size=1, shuffle=False)

In [23]:
c=[]
for batch_inputs, batch_labels in data_loader_V:
    batch_inputs = batch_inputs.to(device)
    batch_labels = batch_labels.to(device)   
    outputs = loaded_model(batch_inputs)
    prediction = outputs.item()
    c.append(prediction)

In [1]:
#c

In [32]:
vali['prediction']=c

In [25]:
train['prediction']=c

In [33]:
vali

,C_MACCS,X_MACCS,C_MD,X_MD,LogLD50,values,prediction
0,3.090262,2.972779,2.981616,3.221881,3.653213,"[3.0902621119886517, 2.972778797149658, 2.9816...",3.035696
1,3.493686,3.593754,3.465531,3.487156,3.451018,"[3.4936859246682315, 3.593754291534424, 3.4655...",3.467057
2,3.886233,3.854150,3.933983,3.969149,3.544068,"[3.8862328455099644, 3.85414981842041, 3.93398...",3.882692
3,2.823283,3.032705,2.902131,2.819377,2.638489,"[2.823283276519747, 3.032705307006836, 2.90213...",2.831873
4,2.798001,2.736012,2.700410,2.755069,2.515874,"[2.7980009662886993, 2.7360124588012695, 2.700...",2.675519
...,...,...,...,...,...,...,...
954,3.205964,3.255276,2.969002,2.973368,2.845098,"[3.205964408964377, 3.2552764415740967, 2.9690...",3.043766
955,2.755578,2.626830,2.790720,2.957604,3.602060,"[2.755578426319106, 2.6268301010131836, 2.7907...",2.708580
956,3.290425,3.155892,2.886869,2.796731,3.000000,"[3.29042500195607, 3.1558921337127686, 2.88686...",2.971226
957,3.495020,3.596001,3.282895,3.165833,3.606381,"[3.4950203726783733, 3.596000909805298, 3.2828...",3.323847
958,2.654575,2.657358,2.626532,2.710169,2.397940,"[2.6545749162646546, 2.657358407974243, 2.6265...",2.562048

In [26]:
train

,C_MACCS,X_MACCS,C_MD,X_MD,LogLD50,values,prediction
0,2.559206,2.505892,2.638576,2.630831,2.480007,"[2.5592062953869736, 2.505891799926758, 2.6385...",2.479677
1,2.426415,2.360931,2.275489,2.341902,2.419956,"[2.426414749339358, 2.3609306812286377, 2.2754...",2.203504
2,3.577300,3.558235,3.511099,3.445715,3.544068,"[3.57729961692661, 3.558234930038452, 3.511098...",3.482524
3,3.532927,3.551575,3.403217,3.366199,3.482588,"[3.5329271840094183, 3.55157470703125, 3.40321...",3.416051
4,3.747669,3.802465,3.796883,3.743523,3.804480,"[3.747669465220344, 3.8024654388427734, 3.7968...",3.737089
...,...,...,...,...,...,...,...
11023,3.318453,3.312859,2.968701,2.939271,3.146128,"[3.318452861330711, 3.312859058380127, 2.96870...",3.071234
11024,3.571349,3.629739,3.531822,3.684559,3.875061,"[3.571349241281328, 3.6297385692596436, 3.5318...",3.566079
11025,2.519334,2.579202,2.670275,2.780704,2.849419,"[2.5193341825906144, 2.5792019367218018, 2.670...",2.518096
11026,2.106975,2.123813,1.957155,1.684854,1.812913,"[2.1069753110348257, 2.1238129138946533, 1.957...",1.788324
11027,2.231405,2.017336,1.951143,1.957988,1.897627,"[2.231405017354254, 2.017336368560791, 1.95114...",1.856659

In [34]:
pd.set_option('display.max_rows', None)

In [35]:
r2_score(vali['LogLD50'].values,vali['prediction'].values)

0.5773918637873664

In [27]:
r2_score(train['LogLD50'].values,train['prediction'].values)

0.8196248927533345